/* The ants CSS */
body,
html {
    height  : 100vh;
    width   : 100vw;
    overflow: hidden;
    font    : normal 11px/14px Verdana, Geneva, sans-serif;
}

canvas {
    position        : absolute;
    z-index         : 0;
    background-color: #000;
}

/* The Controls */
.controls {
    vertical-align : top;
    width          : 90vw;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    padding        : 0 10px;
}

body::before {
    content : '';
    display : block;
    position: absolute;
    top     : 0;
}

.controls,
.hamburger {
    position        : absolute;
    left            : 50%;
    transform       : translateX(-50%);
    top             : 0;
    border-radius   : 0 0 10px 10px;
    background-color: rgba(255, 255, 255, 0.4);
    transition      : all .5s ease-in-out;
    z-index         : 1000;

    &.tucked {
        translate: 0 -100%;
    }
}

.hamburger {
    color      : #fffe;
    font-size  : 24px;
    width      : 40px;
    height     : 30px;
    z-index    : 999;
    text-align : center;
    line-height: 30px;
    transition : all .3s ease-in-out;
}

label,
output {
    color: #fff;
}

output {
    font-weight: bold;
}

fieldset {
    display   : flex;
    margin    : 10px 5px;
    text-align: center;

    &.vertical {
        flex-direction: column;
        align-items   : center;


        input[type=number] {
            width     : 90%;
            text-align: center;
            margin    : auto;
        }
    }

    &.horizontal {
        flex-direction: row;
        align-items   : center;
    }

    &.speed input[type=range] {
        direction: rtl;
    }

    &.runControls label {
        margin-top: 4px;
        display   : inline-block;
    }

    label {
        user-select   : none;
        text-transform: uppercase;
        letter-spacing: .5px;
    }

    .isIframed & {

        &.skips,
        &.gendered {
            display: none;
        }
    }

}


button {
    cursor       : pointer;
    padding      : 6px 12px;
    margin       : 0 5px;
    border-radius: 3px;
}