@charset "UTF-8";
/* CSS Document */

/* Eric Meyer's CSS reset */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none;
}

/* The ants CSS */
body, html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font: normal 11px/14px Verdana, Geneva, sans-serif;
}

canvas {
    position: absolute;
    z-index: 0;
    background-color: #000;
}

.clearFix {
    clear: both;
}

/* The Controls */
.controls {
    vertical-align: top;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
}

body::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
}

.controls, .hamburger {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border-radius: 0 0 10px 10px;
    background-color: rgba(255,255,255,0.4);
    transition: all .5s ease-in-out;
    z-index: 1000;
}

.controls.tucked {
    top: -180px;
}

.hamburger {
    color: #fffe;
    font-size: 24px;
    width: 40px;
    height: 30px;
    z-index: 999;
    text-align: center;
    line-height: 30px;
    transition: all .3s ease-in-out;
}

.hamburger.tucked {
    top: -40px;
}

label, output {
    color: #fff;
}

output {
    font-weight: bold;
}

fieldset {
    margin: 10px 5px;
    text-align: center;
}

button {
    cursor: pointer;
    padding: 6px 12px;
    margin: 0 5px;
    border-radius: 3px;
}

fieldset.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset.vertical label {
    user-select: none;
    text-transform: uppercase;
    letter-spacing: .5px;
}

fieldset.runControls label {
    margin-top: 4px;
    display: inline-block;
}

fieldset.speed input[type=range] {
    direction: rtl;
}

fieldset.vertical input[type=number] {
    width: 90%;
    text-align: center;
    margin: auto;
}
